@import '../../../../styles/variables.scss';

td{
    font-size: 12px;
    color: $color-text-form ;
}

.pen{
    color: blue;
    width: 15px;
    margin: 2px 3px;
    cursor: pointer;
}

.trash{
    width: 15px;
    color: $color-text-form ;
    margin: 2px 3px;
    cursor: pointer;
}